<!DOCTYPE html>
<html>
  <body>
<h2>Enter Item To Purchase: </h2>

<form action='/checkout' method='POST'>
  <p>Item: <input type="text" id="item" name ="item"></p>
  <input id="submit" type="submit" value="submit">

  </form>
  </body>
  </html>